.login-page {
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-page__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px;
}
