.login-page {
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-page__form {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 100px;
}

.login-page__title {
  color: #ffc709;
  font-size: 56px;
  margin-bottom: 50px;
}
