header {
  background: #1f1f1f;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 50px;
  color: #fff;
}

h1 {
  color: #ffc709;
  font-size: 30px;
  text-transform: uppercase;
}

.link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: #ffc709;
}

.link img {
  width: 40px;
}
