.table {
  border-collapse: collapse;
  font-size: 18px;
  margin: 50px 0 80px;
  width: 100%;
}

.table th , .table td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  color: #FFF;
  text-align: center;
}
